body {
    font-family: "Lobster Two", cursive;
    color: #050607; 
}



.personaje-perfil {
    display: flex;
    gap: 40px;
    max-width: var(--max);
    margin: 50px auto;
    padding: 0 28px;
    align-items: flex-start;
}


.personaje-imagen {
    flex: 0 0 400px;
    height: 500px;
    border-radius: var(--radius);
    overflow: hidden;
    background: #F2EFE3;
    box-shadow: 0 10px 30px rgba(164,137,0,0.4); /* #A48900 suavizado */
    border: 2px solid #CEB032;
}

.personaje-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.personaje-info h1 {
    font-size: 3.4rem;
    color: #A48900;
    margin-bottom: 12px;
    letter-spacing: 1px;
}

.personaje-info p {
    color: #050607;
    font-size: 1.15rem;
    line-height: 1.55;
    background: rgba(206,176,50,0.18); 
    padding: 12px 16px;
    border-radius: 10px;
    border-left: 4px solid #A48900;
    margin-bottom: 22px;
}

@media (max-width: 900px) {
    .personaje-perfil {
        flex-direction: column;
        text-align: center;
    }
    .personaje-imagen {
        width: 100%;
        height: 420px;
        flex: 0 0 auto;
    }
}
