* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==Body== */
body {
  background-color: #0d0d0d; 
  color: #cccccc;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
}

/* Textos */
h1, h2, h3 {
  text-align: center;
}

h1 {
  color: #A48900;
  font-family: losbter two;
}

h2 {
  color: #A48900;
}

h3 {
  color: #CEB032;
}

p{
  text-align: center;
  color: #A48900;
 font-size: 12px;
 font-family: poppins;
}
/* ==Header== */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, rgba(0,0,0,0.9), transparent);
  padding: 1rem 2rem;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #A48900;
  letter-spacing: 1px;
}

.menu {
  background: #A48900;
  color: #CEB032;
  border: 1px solid #CEB032;
  border-radius: 6px;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
}

.menu option {
  background: #000;
  color: #A48900;
}


.perfil {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url("image/usuario (1).png") center/cover no-repeat;
  border: 2px solid #A48900;
}
/* ==Secciones== */
section {
  padding: 40px;
  position: relative;
}

/* ==Hero botones== */
.hero-buttons button {
  background-color: #6a5f36;
  color: #fff;
}

/* ==Temporadas== */
.temporadas {
  background: #F2EFE3;
  padding: 3rem 2rem;
  border-top: 1px solid #222;
}

.temporadas .descripción {
  max-width: 800px;
  margin: 0 auto;
  color: #333;
}


.tabs {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1.5rem 0;
}

.tab {
  background: none;
  border: none;
  color: #666;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s;
}

.tab.active,
.tab:hover {
  color: #A48900;
}

.rating {
  text-align: center;
  color: #A48900;
  margin-bottom: 2rem;
  font-size: 1rem;
}

/* ==Capítulos== */
.capitulo {
  display: flex;
  gap: 1.5rem;
  background: #d8d4c5;
  border-radius: 10px;
  max-width: 900px;
  margin: 0 auto 2rem;
  transition: 0.3s;
  overflow: hidden;
}

.capitulo:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(105,86,42,0.2);
}

.capitulo picture img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.capitulo .info {
  padding: 0.7rem 1rem;
}

.capitulo h3 {
  color: #444;
}

.capitulo .mini-desc {
  color: #000;
}

/* Botones */
.btn {
  border: none;
  border-radius: 5px;
  padding: 0.7rem 1.3rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  font-size: 0.9rem;
}

.btn.naranja {
  background: #6a5f36;
  color: #fff;
}

.btn.transparente {
  background: transparent;
  border: 1px solid #6a5f36;
  color: #6a5f36;
}

.btn.transparente:hover {
  background: #6a5f36;
  color: #000;
}

/* ==Personajes== */
.personajes {
  background: #F2EFE3;
  padding: 2rem;
  border-top: 1px solid #222;
}

.personajes h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.personajes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
}

.personaje {
  background: #d8d4c5;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  transition: 0.3s;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.personaje:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 15px rgba(255,179,0,0.25);
}

.personaje picture img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.personaje-info {
  padding: 1rem;
}

.personaje-info h3 {
  color: #7d7040;
}

/* ==Modal== */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal[aria-hidden="false"] {
  display: flex;
}

.modal-content {
  background: #111;
  padding: 1.5rem;
  border-radius: 10px;
  width: 90%;
  max-width: 750px;
  position: relative;
}

#closeModal {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  color: #ffb300;
  font-size: 1.7rem;
  cursor: pointer;
}

/* ==Footer== */
.site-footer {
  background: #ede4c3;
  padding: 2rem;
  text-align: center;
  color: #444;
  border-top: 1px solid #222;
}

#newsletter input {
  padding: 0.6rem;
  border: 1px solid #ffb300;
  background: #000;
  color: #fff;
  border-radius: 5px;
}

#newsletter button {
  background: #7d7040;
  border: none;
  padding: 0.7rem 1.3rem;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.socials a {
  color: #A48900;
  margin: 0 0.5rem;
  text-decoration: none;
}

.socials a:hover {
  text-decoration: underline;
}

/* ==Resposive== */
@media (max-width: 799px) {
  .capitulo {
    flex-direction: column;
    align-items: center;
  }

  .capitulo picture img {
    width: 100%;
    height: auto;
  }

  .site-header {
    padding: 0.7rem 1rem;
  }
}

@media (max-width: 480px) {
  section {
    padding: 1rem;
  }

  .logo {
    font-size: 1rem;
  }
}